/* Reset default margin and padding */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Set a light background color */
}

header {
    background-color: #6948a3; /* Purple background color */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex; /* Use flexbox to arrange the nav items */
    justify-content: space-between; /* Add space between the nav items */
    padding: 0 2rem; /* Add horizontal padding for space */
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition animation */
}

/* Change link color on hover */
nav a:hover {
    color: #C41E3A; /* Hover color with a hint of orange */
}
